body{
    text-align: center;
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
}

.slide_content{
    width: 100%;
}

.slider_arrow{
    width: 15%;
    height: 15%;
    cursor: pointer;
}

.left_arrow{
    transform: rotate(180deg);
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2% 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.current_active, .dot:hover {
    background-color: #525151;
  }

.btn{
    background-color: #0382F9;
    color: white;
    padding: 11px;
    font-weight: 600;
    border: 1px solid #0382F9;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5%;
    cursor: pointer;
}

.slide{
    overflow: hidden;
    display: none;
}
.slide .content_desc{
    padding: 0 15%;
}

.slide .content_img{
    width: 8%;
    border-radius: 50%;
}

.slide .content_name{
    font-weight: bold;
    margin-top: 35px;
}

.slide .content_des{
    margin: 5px;
}

.fade_effect_right {
    animation: 2s move-right ease-in-out;
    animation-delay: 0.5s;
  }
  /* .slide_content {
    animation-name: move-right;
    animation-duration: 1s;
    animation-delay: 1.5s;
  } */

  .fade_effect_left {
    animation: 2s move-left ease-in-out;
    animation-delay: 0.5s;
  }
  
  @keyframes move-left {
      50.001% {
        opacity: 0;
        transform: translateX(-90%);
      }
      50.002% {
        opacity: 1;
        transform: translateX(90%);
      }
}

@keyframes move-right {
      50.001% {
        opacity: 0;
        transform: translateX(90%);
      }
      50.002% {
        opacity: 1;
        transform: translateX(-90%);
      }
}

/* On Mobile screen */
@media only screen and (max-width: 425px) {
    body{
        padding: 5px;
    }
    .slider_arrow{display: none;}
    .slide .content_img{
        width: 20%;
        border-radius: 50%;
    }  
}